<?xml version="1.0"?>

<!--
/**
 * @category    ScandiPWA
 * @package     ScandiPWA_CmsGraphQl
 * @copyright   Copyright © Scandiweb, Inc. All rights reserved.
 * @copyright   Modifications © Selveq. All rights reserved.
 * @license     OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- declared globally so a frontend consumer such as route717 can name it; the graphql-area preferences stay in etc/graphql/di.xml -->
    <virtualType name="ScandiPWA\CmsGraphQl\Model\Template\VirtualFilter"
        type="ScandiPWA\CmsGraphQl\Model\Template\Filter">
        <arguments>
            <argument name="variables" xsi:type="array" />
            <argument name="availableFilters" xsi:type="array">
                <item name="Slider" xsi:type="string">
                    Scandiweb\Slider\Block\Widget\Slider
                </item>
                <item name="NewProducts" xsi:type="string">
                    Magento\Catalog\Block\Product\Widget\NewWidget
                </item>
                <item name="CatalogProductList" xsi:type="string">
                    Magento\CatalogWidget\Block\Product\ProductsList
                </item>
                <item name="RecentlyViewed" xsi:type="string">
                    Magento\Catalog\Block\Widget\RecentlyViewed
                </item>
            </argument>
            <argument name="widgetUnescapedParams" xsi:type="array">
                <item name="type" xsi:type="string">type</item>
            </argument>
            <argument name="widgetCustomParamsHandlers" xsi:type="array">
                <item name="conditions_encoded" xsi:type="object">
                    ScandiPWA\CmsGraphQl\Model\Resolver\Attribute\ConditionsEncoded
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
